In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import scipy.stats as st

In [2]:
loan_data = pd.read_csv("LoansData.csv")

In [3]:
loan_data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [4]:
loan_data['Interest.Rate'] = loan_data['Interest.Rate'].str.replace("%","")

In [5]:
loan_data['Interest.Rate'] = loan_data['Interest.Rate'].astype(float)

In [12]:
loan_data['Interest.Rate'].dropna(inplace = True)

In [16]:
loan_data.dropna(inplace = True)

In [17]:
correlation, p_value = st.pearsonr(loan_data['Amount.Funded.By.Investors'], loan_data['Interest.Rate'])

In [18]:
print(correlation, p_value)

0.3315955311036452 5.064256950495823e-63

In [21]:
loan_data['Loan.Length'] = loan_data['Loan.Length'].str.replace(" months","")

In [23]:
loan_data['Loan.Length'] = loan_data['Loan.Length'].astype(int)

In [24]:
correlation, p_value = st.pearsonr(loan_data['Loan.Length'], loan_data['Interest.Rate'])

In [25]:
print(correlation, p_value)

0.42505738230947654 1.793801067341337e-106

In [26]:
loan_data['Loan.Purpose'].unique()

array(['debt_consolidation', 'credit_card', 'other', 'moving', 'car',
       'vacation', 'home_improvement', 'house', 'major_purchase',
       'educational', 'medical', 'wedding', 'small_business',
       'renewable_energy'], dtype=object)

In [35]:
 purpose_debt_consolidation = loan_data.loc[ loan_data['Loan.Purpose']=="debt_consolidation" ,  'Interest.Rate']

In [37]:
 purpose_credit_card = loan_data.loc[ loan_data['Loan.Purpose']=="credit_card" ,  'Interest.Rate']

In [38]:
 purpose_other = loan_data.loc[ loan_data['Loan.Purpose']=="other" ,  'Interest.Rate']

In [39]:
 purpose_moving = loan_data.loc[ loan_data['Loan.Purpose']=="moving" ,  'Interest.Rate']

In [40]:
 purpose_car = loan_data.loc[ loan_data['Loan.Purpose']=="car" ,  'Interest.Rate']

In [41]:
 purpose_vacation = loan_data.loc[ loan_data['Loan.Purpose']=="vacation" ,  'Interest.Rate']

In [42]:
 purpose_home_improvement = loan_data.loc[ loan_data['Loan.Purpose']=="home_improvement" ,  'Interest.Rate']

In [43]:
 purpose_house = loan_data.loc[ loan_data['Loan.Purpose']=="house" ,  'Interest.Rate']

In [44]:
purpose_major_purchase = loan_data.loc[ loan_data['Loan.Purpose']=="major_purchase" ,  'Interest.Rate']

In [45]:
purpose_educational = loan_data.loc[ loan_data['Loan.Purpose']=="educational" ,  'Interest.Rate']

In [46]:
purpose_medical = loan_data.loc[ loan_data['Loan.Purpose']=="medical" ,  'Interest.Rate']

In [47]:
purpose_wedding = loan_data.loc[ loan_data['Loan.Purpose']=="wedding" ,  'Interest.Rate']

In [48]:
purpose_small_business = loan_data.loc[ loan_data['Loan.Purpose']=="small_business" ,  'Interest.Rate']

In [49]:
purpose_renewable_energy = loan_data.loc[ loan_data['Loan.Purpose']=="renewable_energy" ,  'Interest.Rate']

In [51]:
f_stats, p_value = st.f_oneway(purpose_debt_consolidation, purpose_credit_card, purpose_other, purpose_moving, purpose_car, purpose_vacation, purpose_home_improvement, purpose_house, purpose_major_purchase, purpose_educational, purpose_medical, purpose_wedding, purpose_small_business, purpose_renewable_energy)

In [52]:
print(f_stats, p_value)

7.330838185919651 2.7646672581411367e-14

In [57]:
contingency_table = pd.crosstab(loan_data['Home.Ownership'],loan_data['FICO.Range'])

In [58]:
chi2_stat, p_value, dof, expected = st.chi2_contingency(contingency_table)

In [60]:
print(chi2_stat, p_value, dof)

269.7881202757334 3.0875472813837764e-15 111

In [61]:
print(expected)

[[2.29796933e+00 1.37878160e+00 4.59593867e-01 1.83837547e+00
  5.42320763e+01 6.34239536e+01 7.67521757e+01 7.39946125e+01
  7.21562370e+01 5.88280149e+01 6.20451720e+01 6.71007045e+01
  5.69896395e+01 6.02067965e+01 4.91765437e+01 4.22826357e+01
  4.96361376e+01 4.18230419e+01 4.32018235e+01 2.98736013e+01
  2.29796933e+01 2.48180688e+01 2.75756320e+01 2.02221301e+01
  2.06817240e+01 1.47070037e+01 7.81309573e+00 1.01110651e+01
  1.19494405e+01 7.81309573e+00 9.19187733e+00 5.97472027e+00
  5.51512640e+00 5.05553253e+00 3.67675093e+00 2.29796933e+00
  4.59593867e-01 4.59593867e-01]
 [1.03605470e-02 6.21632822e-03 2.07210941e-03 8.28843763e-03
  2.44508910e-01 2.85951098e-01 3.46042271e-01 3.33609615e-01
  3.25321177e-01 2.65230004e-01 2.79734770e-01 3.02527973e-01
  2.56941567e-01 2.71446332e-01 2.21715707e-01 1.90634065e-01
  2.23787816e-01 1.88561956e-01 1.94778284e-01 1.34687111e-01
  1.03605470e-01 1.11893908e-01 1.24326564e-01 9.11728139e-02
  9.32449233e-02 6.63075010e-02 3.52258599e-02 4.55864070e-02
  5.38748446e-02 3.52258599e-02 4.14421881e-02 2.69374223e-02
  2.48653129e-02 2.27932035e-02 1.65768753e-02 1.03605470e-02
  2.07210941e-03 2.07210941e-03]
 [3.91628678e-01 2.34977207e-01 7.83257356e-02 3.13302942e-01
  9.24243680e+00 1.08089515e+01 1.30803978e+01 1.26104434e+01
  1.22971405e+01 1.00256942e+01 1.05739743e+01 1.14355574e+01
  9.71239121e+00 1.02606714e+01 8.38085371e+00 7.20596768e+00
  8.45917944e+00 7.12764194e+00 7.36261915e+00 5.09117281e+00
  3.91628678e+00 4.22958972e+00 4.69954414e+00 3.44633237e+00
  3.52465810e+00 2.50642354e+00 1.33153751e+00 1.72316618e+00
  2.03646913e+00 1.33153751e+00 1.56651471e+00 1.01823456e+00
  9.39908827e-01 8.61583092e-01 6.26605885e-01 3.91628678e-01
  7.83257356e-02 7.83257356e-02]
 [2.30004144e+00 1.38002487e+00 4.60008288e-01 1.84003315e+00
  5.42809780e+01 6.34811438e+01 7.68213842e+01 7.40613344e+01
  7.22213013e+01 5.88810609e+01 6.21011189e+01 6.71612101e+01
  5.70410278e+01 6.02610858e+01 4.92208869e+01 4.23207625e+01
  4.96808952e+01 4.18607542e+01 4.32407791e+01 2.99005387e+01
  2.30004144e+01 2.48404476e+01 2.76004973e+01 2.02403647e+01
  2.07003730e+01 1.47202652e+01 7.82014090e+00 1.01201823e+01
  1.19602155e+01 7.82014090e+00 9.20016577e+00 5.98010775e+00
  5.52009946e+00 5.06009117e+00 3.68006631e+00 2.30004144e+00
  4.60008288e-01 4.60008288e-01]]

In [62]:
price_quotes = pd.read_csv("Price_Quotes.csv")

In [64]:
price_quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_Number  12 non-null     int64
 1   Barry_Price   12 non-null     int64
 2   Mary_Price    12 non-null     int64
dtypes: int64(3)
memory usage: 420.0 bytes

In [68]:
t_stat, p_value = st.ttest_rel(price_quotes['Barry_Price'],price_quotes['Mary_Price'])

In [69]:
print(t_stat, p_value)

2.5213765108923494 0.02840588045242053